/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

 @font-face{
 	font-family: "beyond the mountains";
 	src: url(/assets/beyond_the_mountains.otf);
 	font-family: "TEODEBASIC-Regular";
 	src: url(/assets/TEODEBASIC-Regular.otf);
 	font-family: "Extreme Simple";
 	src: url("/assets/Extreme Simple.ttf");
 	src: url("/assets/glyphicons-halflings-regular.ttf");
 }