
.sidebar-container {
	background-color:black;
	opacity: 0.8;
	width: 15%;
	height: 100%;
	position: fixed;
	overflow-y: hidden;
	color: white;
	font-family: "Extreme Simple";
	letter-spacing: 2px;
}

.profile-picture-container{
	width: 35%;
	position: absolute;
	height: 100%;
}

.user-data-container{
	position: absolute;
	height: 100%;
	width: 65%;
	right: 0;
	margin-right: 10px;
}

.user-content-container{
	position: absolute;
	width: 100%;
	height: 10%
}

.profile-picture{
	height: 100%;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10%;
	padding-bottom: 30%;
}

.name-container, .email-container, .logout-container{
	position: relative;
	text-align: right;
}

.show-sidebar-label{
	height: 5%;
	width: 100%;
}

.show-label-name{
	display: inline-block;
	width: 80%;
}

.show-label-container{
	position: absolute;
	height: 90%;
	width: 100%;
	bottom: 0;
	margin-left: 15px;
}

.delete-x
{
	width: 20px;
	height: 20px;
	right: 0;
}


/*
 * Base structure
 */

 /* Move down content because we have a fixed navbar that is 50px tall */



/*
 * Global add-ons
 */

 .sub-header {
 	padding-bottom: 10px;
 	border-bottom: 1px solid #eee;
 }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
 	border: 0;
 }

/*
 * Sidebar
 */

 /* Hide for mobile, show later */
 .sidebar {
 	display: none;
 }
 @media (min-width: 768px) {
 	.sidebar {
 		position: fixed;
 		top: 0;
 		bottom: 0;
 		left: 0;
 		z-index: 1000;
 		display: block;
 		padding: 20px;
 		overflow-x: hidden;
 		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
 		background-color: #313131;
 		border-right: 1px solid #eee;
 	}
 }

 /* Sidebar navigation */
 .nav-sidebar {
 	margin-right: -21px; /* 20px padding + 1px border */
 	margin-bottom: 20px;
 	margin-left: -20px;
 }

 .nav-sidebar > li {

 }

 .nav-sidebar > li > a {
 	padding-right: 20px;
 	padding-left: 20px;
 	color: #f5f5f5;
 }
 .nav-sidebar > .active > a,
 .nav-sidebar > .active > a:hover,
 .nav-sidebar > .active > a:focus {
 	background-color: #428bca;
 }

 .navbar-toggle{
 	background-color: white;
 }

 .icon-bar{
 	background-color: #6a6a6a;
 }

/*
 * Main content
 */

 .main {
 	padding: 20px;
 }
 @media (min-width: 768px) {
 	.main {
 		padding-right: 40px;
 		padding-left: 40px;
 	}
 	.container-fluid{
 		background-color: white;
 	}
 	body {
 		padding-top: 50px;
 	}
 }

 @media (max-width: 768px) {
 	.container-fluid{
 		background-color: #6a6a6a;
 		color:black;
 	}
 	.navbar-brand{
 		color: black!important;
 	}
 }

 .main .page-header {
 	margin-top: 0;
 }


/*
 * Placeholder dashboard ideas
 */

 .placeholders {
 	margin-bottom: 30px;
 	text-align: center;
 }
 .placeholders h4 {
 	margin-bottom: 0;
 }
 .placeholder {
 	margin-bottom: 20px;
 }
 .placeholder img {
 	display: inline-block;
 	border-radius: 50%;
 }
