  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sidebar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Series</a>
      </div>
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete)%></li>
        </ul>

        <ul class="nav nav-sidebar">
          <li class="active"><%= link_to('Nueva Serie', new_show_path) %></a></li>
        </ul>

        <ul class="nav nav-sidebar">
          <% current_user.shows.each do |show| %>
          <li><a class="menu-item" data-id="<%= show.id %>"><%= show.name %></a></li>
          <% end %>
        </ul>

      </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class ="show-container"></div>
    </div>
  </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./Dashboard Template for Bootstrap_files/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="./Dashboard Template for Bootstrap_files/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="./Dashboard Template for Bootstrap_files/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="./Dashboard Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>

