<% @show_list.each do |show| %>
  <div>
    <%= image_tag(show["image"], size: "50x50")%>
    <%= show["name"] %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Season Number</th>
        <th>Episode Number</th>
        <th>Name</th>
        <th>Airdate</th>
      </tr>
    </thead>

    <tbody>
      <% show["episodes"].each do |episode| %>
        <tr> 
          <td><%= episode["season_number"] %></td>
          <td><%= episode["episode_number"] %></td>
          <td><%= episode["episode_name"] %></td>
          <td><%= episode["episode_airdate"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'New Show', new_show_path %>

