<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row show-head">
    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" src='<%= @show_info["image"] %>' class="img-circle" height="150" width="150"/>
    </div>
    <div class="col-md-4">
      <h2>
        <%= @show.name %>
      </h2>
      <div id="id" hidden="true"><%= @show.id %></div>
    </div>
    <div class="col-md-4">
     <div class="checkbox">
       <label><input id="enable_selection" type="checkbox" value="">Habilitar selección</label>
     </div>
     <button type="button" class="btn btn-default" id="reset">Reiniciar</button> 
     <%= link_to('Borrar', show_path, method: :delete , :class => 'btn btn-default') %>
   </div>
 </div>
 <div class="row show-body">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped" id="data">
        <thead>
          <tr>
            <th>Temporada</th>
            <th>Episodio</th>
            <th>Nombre</th>
            <th>Fecha de emisión</th>
            <th>Torrent</th>
            <th>Subtítulo</th>
          </tr>
        </thead>
        <tbody>
          <% @show_info["episodes"].each do |episode| %>
          <tr> 
            <td><%= episode["season_number"] %></td>
            <td><%= episode["episode_number"] %></td>
            <td><%= episode["episode_name"] %></td>
            <td><%= episode["episode_airdate"] %></td>
            <td><%= link_to "buscar torrent", "#{episode["torrent_search"]}", :target => "_blank" %></td>
            <td><%= link_to "buscar subtitulo", "#{episode["subtitle_search"]}", :target => "_blank" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
